In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
import sys

In [6]:
sys.path

['/Users/alisa/workspace/kaggle/abusive_and_threat_urdu_SoC',
 '/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python37.zip',
 '/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7',
 '/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7/lib-dynload',
 '',
 '/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7/site-packages',
 '/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7/site-packages/IPython/extensions',
 '/Users/alisa/.ipython']

In [10]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 1.4 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [2]:
!ls -lh /Users/alisa/Dropbox/Academics/maaz/abusive_hate_speech/datasets/Urdu\ Threatening\ Tweets

total 1352
-rw-rw-r--@ 1 alisa  staff    12K Jul  2  2020 Data Statistics.docx
-rw-rw-r--@ 1 alisa  staff   139K Jul  2  2020 test_dataset.xlsx
-rw-rw-r--@ 1 alisa  staff   522K Jul  2  2020 train_dataset.xlsx

In [4]:
DIR_T = '/Users/alisa/Dropbox/Academics/maaz/abusive_hate_speech/datasets/Urdu Threatening Tweets/'

In [20]:
tr = pd.read_excel(DIR_T + 'train_dataset.xlsx')
tr.shape, tr.columns

((7964, 2), Index(['Tweets', 'label'], dtype='object'))

In [21]:
tr.head()

                                              Tweets  label
0                                       بکواس مت کرو      1
1  بھارت میں کشمیر کا مسئلہ عمران خان کی تجویز کے...      0
2  بھارت کا مقبوضہ کشمیر پر حملہ کیایہ پاکستان پر...      0
3  تمہاری ہیجڑا فورس ایک نہتے کے سامنے بکری بنی ہ...      1
4  آفیسر سمیتبھارتی فوجی جہنم واصل،بنکرز تباہ بھا...      1

In [22]:
tst = pd.read_excel(DIR_T + 'test_dataset.xlsx')
tst.shape, tst.columns

((1986, 2), Index(['Tweets', 'label'], dtype='object'))

In [23]:
df = pd.concat([tr, tst])
df.shape, df.columns

((9950, 2), Index(['Tweets', 'label'], dtype='object'))

In [24]:
df.columns = ['tweet', 'target']

In [25]:
df.reset_index(inplace=True)

In [26]:
df.head()

   index                                              tweet  target
0      0                                       بکواس مت کرو       1
1      1  بھارت میں کشمیر کا مسئلہ عمران خان کی تجویز کے...       0
2      2  بھارت کا مقبوضہ کشمیر پر حملہ کیایہ پاکستان پر...       0
3      3  تمہاری ہیجڑا فورس ایک نہتے کے سامنے بکری بنی ہ...       1
4      4  آفیسر سمیتبھارتی فوجی جہنم واصل،بنکرز تباہ بھا...       1

In [28]:
df.shape, df['index'].unique().shape

((9950, 3), (7964,))

In [29]:
df.drop(columns=['index'], axis=1, inplace=True)

In [30]:
df['id'] = df.index

In [31]:
df = df[['id', 'tweet', 'target']]

In [37]:
df.tail()

        id                                              tweet  target
9945  9945  جس ارب ڈالرز کو سعودی عرب بھارت میں انوسٹ کر ر...       0
9946  9946          اوئے لنڈے کے ارسطو درباری  دلے حرام زادے        1
9947  9947                      کتے کے بچے کان کھول کر سن اؤے       1
9948  9948                   میں تیری گانڈ میں فایڑ ماروں گا        1
9949  9949                                  کتے کی موت مرو گے       1

In [33]:
df.shape, df['id'].unique().shape

((9950, 3), (9950,))

In [34]:
df.isnull().sum()

id        0
tweet     0
target    0
dtype: int64

In [38]:
!ls data/threat_tweets_Urdu

dataset_all.csv

In [35]:
df.to_csv('data/threat_tweets_Urdu/dataset_all.csv', index=False)

In [5]:
DIR = 'data/threat_tweets_Urdu/'

## Train Test Split

In [38]:
df_train, df_test = train_test_split(df, test_size=3950)

### Train

In [39]:
df_train.shape, df_train['target'].sum()

((6000, 3), 1071)

In [41]:
df_train.shape, df_train['id'].unique().shape

((6000, 3), (6000,))

In [40]:
df_train.head()

        id                                              tweet  target
4661  4661  لوئر دیر تھانہ منڈہ کے حدود گوسم فائرنگ پانچ ا...       0
7227  7227  اسلۓ کہ تمھارا آقا کے آگے لیٹا ھوا تھا۔ بیغیرت...       1
2413  2413  لیکن نوازشریف نے اسے بھی ایکسٹینشن نہیں دی تھی...       0
8159  8159    اس گشتی کو پتہ نہی ہے کہ ایٹمی جنگ کسے کہتے ہیں       1
9571  9571  کشمیر بیچ دیا غیرت ساتھ بیچ ڈالی امریکی غلامی ...       0

In [42]:
df_train.to_csv(DIR + 'train.csv', index=False)

In [6]:
df_train = pd.read_csv(DIR + 'train.csv')
df_train.shape, df_train.columns

((6000, 3), Index(['id', 'tweet', 'target'], dtype='object'))

In [7]:
df_train['target'].value_counts()

0    4929
1    1071
Name: target, dtype: int64

### Test

In [43]:
split = ['private']*df_test.shape[0]

In [44]:
i = 0 
while i < 1000:
    split[i*2] = 'public'
    i += 1

In [45]:
df_test = df_test.copy()
df_test['split'] = split

In [46]:
df_test.shape, df_test['id'].unique().shape

((3950, 4), (3950,))

In [46]:
df_test.head()

        id                                              tweet  target    split
4509  4509     کشمیر میں اپنی آخری سانس تک لڑیں گئے انشاءاللہ       1   public
5025  5025  کشمیر کا سودا کرنے والے بیغیرتوں پر الللہ کا ع...       1  private
4696  4696  افسوس کا مقام ھے کہ حکومت میں شامل کچھ لوگ ہی ...       0   public
427    427  کابل میں شادی کی تقریب میں خودکش بم دھماکا افر...       0  private
778    778  ابی سالے چوتیہ کی اولاد تم لوگوں پیشاب بھی یہ ...       0   public

In [47]:
df_test['split'].value_counts()

private    2950
public     1000
Name: split, dtype: int64

In [48]:
df_test.columns

Index(['id', 'tweet', 'target', 'split'], dtype='object')

In [49]:
df_test[['id', 'target', 'split']].to_csv(DIR + 'test_answ_and_split.csv', index=False)

In [50]:
df_test[['id', 'tweet']].to_csv(DIR + 'test.csv', index=False)

In [8]:
df_test = pd.read_csv(DIR + 'test_answ_and_split.csv')
df_test.shape, df_test.columns

((3950, 3), Index(['id', 'target', 'split'], dtype='object'))

In [9]:
df_test['target'].value_counts()

0    3231
1     719
Name: target, dtype: int64

In [10]:
df_test[df_test['split'] == 'public']['target'].value_counts()

0    842
1    158
Name: target, dtype: int64

In [11]:
df_test[df_test['split'] == 'private']['target'].value_counts()

0    2389
1     561
Name: target, dtype: int64

## Baseline Model

In [51]:
import nltk

In [52]:
df_train = df_train.copy()

In [53]:
def extract_ngrams(data, num=1):
    n_grams = nltk.ngrams(nltk.word_tokenize(data), num)
    return [ ' '.join(grams) for grams in n_grams]

In [54]:
df_train['unigrams'] = df_train['tweet'].apply(extract_ngrams)
df_train['bigrams'] = df_train['tweet'].apply(lambda x: extract_ngrams(x, 2))

df_test['unigrams'] = df_test['tweet'].apply(extract_ngrams)
df_test['bigrams'] = df_test['tweet'].apply(lambda x: extract_ngrams(x, 2))

### Vocabulary Set-Up

In [55]:
from collections import Counter

In [56]:
uni = Counter()
for idx, row in df_train.iterrows(): 
    uni.update(row['unigrams'])

In [57]:
df_vocab = pd.DataFrame.from_dict(uni, orient='index', columns=['count'])
df_vocab.reset_index(inplace=True)
df_vocab.columns = ['uniram', 'count']

In [58]:
df_vocab.describe()

              count
count  12485.000000
mean       8.292511
std       63.487691
min        1.000000
25%        1.000000
50%        1.000000
75%        3.000000
max     2730.000000

In [60]:
df_vocab['count'].sum()

103557

In [62]:
df_vocab.shape, df_vocab[df_vocab['count'] >= 3].shape

((12480, 2), (3650, 2))

In [59]:
vocab_uni = set(df_vocab[df_vocab['count'] >= 3]['uniram'])
len(vocab_uni)

3640

In [60]:
bi = Counter()
for idx, row in df_train.iterrows(): 
    bi.update(row['bigrams'])    
len(bi)

58662

In [61]:
vocab_bi_df = pd.DataFrame.from_dict(bi, orient='index', columns=['count'])
vocab_bi_df.reset_index(inplace=True)
vocab_bi_df.columns = ['bigram', 'count']

In [62]:
vocab_bi_df.describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .99])

              count
count  58662.000000
mean       1.662610
std        3.294768
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
80%        1.000000
85%        2.000000
90%        2.000000
95%        4.000000
99%       13.000000
max      159.000000

In [68]:
vocab_bi_df.shape, vocab_bi_df[vocab_bi_df['count'] >= 4].shape

((59000, 2), (3417, 2))

In [63]:
vocab_bi = set(vocab_bi_df[vocab_bi_df['count'] >= 4]['bigram'])
len(vocab_bi)

3413

In [64]:
vocab = vocab_uni.union(vocab_bi)
len(vocab)

7053

### Feature Engineering

In [65]:
import numpy as np

In [66]:
vocab_uni_li = list(vocab_uni)
vocab_bi_li = list(vocab_bi)

FEATURES = vocab_uni_li+vocab_bi_li + ['OOV_uni', 'OOV_bi']
len(vocab_uni_li) + len(vocab_bi_li), len(FEATURES)

(7053, 7055)

In [74]:
df_train.shape

(6000, 5)

In [68]:
stuffing = np.zeros((6000, 7055))
stuffing_df = pd.DataFrame(stuffing, columns = FEATURES)

In [79]:
df_train.head()

,index,id,tweet,target,unigrams,bigrams
0,2549,2549,انڈیا والو اور کہا کہا زلیل ہونا ہے,0,"[انڈیا, والو, اور, کہا, کہا, زلیل, ہونا, ہے]","[انڈیا والو, والو اور, اور کہا, کہا کہا, کہا ز..."
1,4154,4154,جس کی ماں گشتی باپ دلہ ہو وہ دوسروں کو بغیرت ک...,0,"[جس, کی, ماں, گشتی, باپ, دلہ, ہو, وہ, دوسروں, ...","[جس کی, کی ماں, ماں گشتی, گشتی باپ, باپ دلہ, د..."
2,3738,3738,الیکٹرانک میڈیا اتنا ظالم ھے کہ اس نے سب کو نن...,0,"[الیکٹرانک, میڈیا, اتنا, ظالم, ھے, کہ, اس, نے,...","[الیکٹرانک میڈیا, میڈیا اتنا, اتنا ظالم, ظالم ..."
3,4442,4442,خان نے سہی کہا تھا کہ میں ان کو رولاؤ گا ان کو...,1,"[خان, نے, سہی, کہا, تھا, کہ, میں, ان, کو, رولا...","[خان نے, نے سہی, سہی کہا, کہا تھا, تھا کہ, کہ ..."
4,511,511,ابھی دللی ممبی ہرجگہ کتے کی موت مریں گے یہ بزد...,1,"[ابھی, دللی, ممبی, ہرجگہ, کتے, کی, موت, مریں, ...","[ابھی دللی, دللی ممبی, ممبی ہرجگہ, ہرجگہ کتے, ..."

In [69]:
df_train.reset_index(inplace=True)

In [70]:
df_train.drop(columns=['index'], axis=1, inplace=True)

In [71]:
train_df = pd.concat([df_train, stuffing_df], axis=1)
train_df.shape

(6000, 7060)

In [72]:
def count_ngram_feats(df):    
    global vocab
    
    total_oov_uni = 0
    total_oov_bi = 0
    
    for idx, row in df.iterrows(): 
        # unigram part 
        ct = Counter()
        ct.update(row['unigrams'])
        oov_ct = 0 
        
        for k in ct.elements(): 
            if k in vocab:
                df[k].iloc[idx] = ct.get(k)
            else:     
                oov_ct += ct.get(k)
        df['OOV_uni'].iloc[idx] = oov_ct
        total_oov_uni += oov_ct

        # bigram part 
        ct = Counter()
        ct.update(row['bigrams'])
        oov_ct = 0 
        
        for k in ct.elements(): 
            if k in vocab:
                df[k].iloc[idx] = ct.get(k)
            else:     
                oov_ct += ct.get(k)
        df['OOV_bi'].iloc[idx] = oov_ct 
        total_oov_bi += oov_ct

    print (total_oov_uni, total_oov_bi)

In [73]:
count_ngram_feats(train_df)

/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

10636 65691

In [84]:
train_df[list(vocab)[:3]].sum()

عمران خان    121.0
سیکٹر         20.0
ہاتھ میں      13.0
dtype: float64

In [74]:
train_df[['OOV_uni', 'OOV_bi']].sum()

OOV_uni    10636.0
OOV_bi     65691.0
dtype: float64

#### Test Part

In [75]:
df_test.reset_index(inplace=True)
df_test.drop(columns=['index'], axis=1, inplace=True)
df_test.shape

(3950, 6)

In [76]:
stuffing = np.zeros((3950, 7055))
stuffing_df = pd.DataFrame(stuffing, columns=FEATURES)

In [77]:
test_df = pd.concat([df_test, stuffing_df], axis=1)
test_df.shape

(3950, 7061)

In [78]:
count_ngram_feats(test_df)

9157 46673

### Model

In [1]:
!pip freeze

absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appnope==0.1.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
blessings==1.7
boto==2.49.0
boto3==1.4.8
botocore==1.8.50
cached-property==1.5.2
cachetools==3.1.1
catboost==0.25.1
category-encoders==2.2.2
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
click==8.0.1
cloudpickle==1.4.1
colorama==0.4.4
colorful==0.5.4
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.23
dask==2.19.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
distributed==2.19.0
dm-tree==0.1.6
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gensim==3.8.0
gin-config==0.4.0
google-api-core==1.30.0
google-api-python-client==2.10.0
google-auth==1.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.20.0
google-cloud-core==1.7.1
google-cloud-storage==1.28.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.16
grpcio==1.34.1
h5py==3.1.0
HeapDict==1.0.1
hiredis==2.0.0
httplib2==0.19.1
huggingface-hub==0.0.12
idna==2.9
importlib-metadata==1.6.0
importlib-resources==5.1.4
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kaggle==1.5.12
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lexicalrichness==0.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
modin==0.9.1
modin-spreadsheet==0.1.2
msgpack==1.0.2
multidict==5.1.0
nbconvert==5.6.1
nbformat==5.0.6
nltk==3.4.5
notebook==6.0.3
numexpr==2.7.3
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python-headless==4.5.2.54
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
plumbum==1.7.0
portalocker==2.0.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
proto-plus==1.18.1
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.6.0
py-cpuinfo==8.0.0
py-spy==0.3.7
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
Pyphen==0.10.0
pyrsistent==0.16.0
PySocks==1.7.1
pyspellchecker==0.6.2
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.4.1
pyzmq==18.1.1
qtconsole==4.7.4
QtPy==1.9.0
ray==1.1.0
redis==3.5.3
regex==2021.4.4
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rpyc==4.1.5
rsa==4.0
s3transfer==0.1.13
sacrebleu==1.5.1
sacremoses==0.0.45
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.96
seqeval==1.2.2
six==1.15.0
smart-open==2.0.0
sortedcontainers==2.4.0
statsmodels==0.12.2
tblib==1.7.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-datasets==4.3.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.1.0
tensorflow-model-optimization==0.6.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textstat==0.7.1
tf-slim==1.1.0
tokenizers==0.10.3
toolz==0.11.1
tornado==6.0.4
tqdm==4.61.1
traitlets==4.3.3
transformers==4.8.1
typeguard==2.12.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.3.3
xlrd==2.0.1
yarl==1.6.3
zict==2.0.0
zipp==3.1.0

In [79]:
from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import GradientBoostingClassifier 
#from xgboost import XGBClassifier
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, f1_score, roc_auc_score, accuracy_score
#from sklearn.model_selection import GridSearchCV

In [80]:
logreg = LogisticRegression(max_iter=1000, class_weight='balanced')

In [81]:
logreg.fit(train_df[FEATURES], train_df['target'])

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=1000, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
y = train_df['target']
y.shape

(6000,)

In [83]:
y_pred = logreg.predict(train_df[FEATURES])
y_pred_score = logreg.predict_proba(train_df[FEATURES])

In [84]:
f1_score(y, y_pred), roc_auc_score(y, y_pred_score[:, 1]), accuracy_score(y, y_pred)

(0.9248152976966536, 0.9976261418207644, 0.9711666666666666)

In [85]:
y_pred_test = logreg.predict(test_df[FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[FEATURES])
y_test = test_df['target']
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.48573324485733244, 0.7759020424960041, 0.8037974683544303)

In [93]:
test_df.columns[:10]

Index(['id', 'tweet', 'target', 'split', 'unigrams', 'bigrams', 'اگلے', 'لال',
       'چاٹنا', 'سات'],
      dtype='object')

In [94]:
df_test.columns

Index(['id', 'tweet', 'target', 'split', 'unigrams', 'bigrams', 'target_pred',
       'target_pred_score'],
      dtype='object')

In [97]:
# Public
y_pred_test = logreg.predict(test_df[test_df['split'] == 'public'][FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[test_df['split'] == 'public'][FEATURES])
y_test = test_df[test_df['split'] == 'public']['target']
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.4647058823529412, 0.7950178898944646, 0.818)

In [98]:
# Private
y_pred_test = logreg.predict(test_df[test_df['split'] == 'private'][FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[test_df['split'] == 'private'][FEATURES])
y_test = test_df[test_df['split'] == 'private']['target']
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.49185946872322195, 0.7699128283300838, 0.7989830508474576)

## Submission

In [86]:
df_test.shape, df_test['id'].unique().shape

((3950, 6), (3950,))

In [87]:
submission_template = pd.DataFrame(df_test['id'])
submission_template['target'] = 0
submission_template['score'] = 0.0
submission_template.head()

     id  target  score
0  8980       0    0.0
1  3784       0    0.0
2  8312       0    0.0
3  9932       0    0.0
4   150       0    0.0

In [88]:
submission_template.to_csv(DIR + 'submission_template.csv', index=False)

In [89]:
df_test['target_pred'] = y_pred_test
df_test['target_pred_score'] = y_pred_score_test[:, 1]

In [90]:
submission_probnyi =  pd.DataFrame(df_test[['id', 'target_pred', 'target_pred_score']])
submission_probnyi.columns = ['id', 'target', 'score']
submission_probnyi.head()

     id  target     score
0  8980       0  0.027928
1  3784       0  0.149285
2  8312       1  0.517765
3  9932       1  0.732198
4   150       0  0.335916

In [92]:
submission_probnyi.shape, submission_probnyi['id'].unique().shape

((3950, 3), (3950,))

In [91]:
submission_probnyi.to_csv(DIR + 'submission_probnyi.csv', index=False)

## Sanity Check

In [4]:
!ls data/threat_tweets_Urdu/urdu_threat_Subtask_A_dataset_and_submission

readme.md               submission_template.csv test_answ_and_split.csv
submission_probnyi.csv  test.csv                train.csv

In [5]:
# папка urdu_threat_Subtask_A_dataset_and_submission -это распаковка высланных данных 
train = pd.read_csv('data/threat_tweets_Urdu/urdu_threat_Subtask_A_dataset_and_submission/train.csv')
train.shape, train.columns

((6000, 3), Index(['id', 'tweet', 'target'], dtype='object'))

In [16]:
train['id'].value_counts()

1325    2
984     2
315     2
825     2
1964    2
       ..
2876    1
4923    1
6966    1
821     1
2047    1
Name: id, Length: 5284, dtype: int64

In [18]:
train['id'].unique().shape

(5284,)

In [6]:
train.head()

     id                                              tweet  target
0  2549                انڈیا والو اور کہا کہا زلیل ہونا ہے       0
1  4154  جس کی ماں گشتی باپ دلہ ہو وہ دوسروں کو بغیرت ک...       0
2  3738  الیکٹرانک میڈیا اتنا ظالم ھے کہ اس نے سب کو نن...       0
3  4442  خان نے سہی کہا تھا کہ میں ان کو رولاؤ گا ان کو...       1
4   511  ابھی دللی ممبی ہرجگہ کتے کی موت مریں گے یہ بزد...       1

In [7]:
# для сравнения - просто из-под Unix/Mac посмотреть нельзя, будет выглядеть как будто tweet & target перепутаны 
!head -n 5 data/threat_tweets_Urdu/urdu_threat_Subtask_A_dataset_and_submission/train.csv

id,tweet,target
2549,انڈیا والو اور کہا کہا زلیل ہونا ہے,0
4154,جس کی ماں گشتی باپ دلہ ہو وہ دوسروں کو بغیرت کہتا ہے گشتی ماں کا بچہ,0
3738,الیکٹرانک میڈیا اتنا ظالم ھے کہ اس نے سب کو ننگا کر کے رکھ چوڑا ھے,0
4442,خان نے سہی کہا تھا کہ میں ان کو رولاؤ گا ان کو تکیف پہنچے گی اوے کنجروں یہ تو پارٹی شروع ہوئی ہے,1

### Checking Test Set

In [8]:
test = pd.read_csv('data/threat_tweets_Urdu/urdu_threat_Subtask_A_dataset_and_submission/test.csv')
test.shape, test.columns

((3950, 2), Index(['id', 'tweet'], dtype='object'))

In [9]:
test.head()

     id                                              tweet
0  4509     کشمیر میں اپنی آخری سانس تک لڑیں گئے انشاءاللہ
1  5025  کشمیر کا سودا کرنے والے بیغیرتوں پر الللہ کا ع...
2  4696  افسوس کا مقام ھے کہ حکومت میں شامل کچھ لوگ ہی ...
3   427  کابل میں شادی کی تقریب میں خودکش بم دھماکا افر...
4   778  ابی سالے چوتیہ کی اولاد تم لوگوں پیشاب بھی یہ ...

In [15]:
test['id'].value_counts()

1233    2
1047    2
943     2
1193    2
1070    2
       ..
2820    1
6918    1
2824    1
2832    1
6141    1
Name: id, Length: 3635, dtype: int64