In [2]:
import pandas as pd

In [48]:
from sklearn.model_selection import train_test_split

In [2]:
! ls -lh /Users/alisa/Dropbox/Academics/maaz/abusive_hate_speech/datasets/

total 1520
drwxrwxr-x@ 6 alisa  staff   192B Jun 27 03:18 Urdu Threatening Tweets
-rw-r--r--@ 1 alisa  staff   614K Jun 22 21:15 Urdu Threatening Tweets.zip
drwx------@ 4 alisa  staff   128B Jun 21 22:24 abusive_tweets_Urdu
-rw-r--r--@ 1 alisa  staff   144K Jun 21 22:23 abusive_tweets_Urdu.zip

In [5]:
! ls -lh /Users/alisa/Dropbox/Academics/maaz/abusive_hate_speech/datasets/abusive_tweets_Urdu

total 928
-rw-rw-r--@ 1 alisa  staff    93K May 28  2020 test.csv
-rw-rw-r--@ 1 alisa  staff   367K May 28  2020 train.csv

In [6]:
DIR_A = '/Users/alisa/Dropbox/Academics/maaz/abusive_hate_speech/datasets/abusive_tweets_Urdu/'

In [8]:
df_a_tr = pd.read_csv(DIR_A + 'train.csv')
df_a_tr.shape, df_a_tr.columns

((2800, 2), Index(['Tweets', 'label'], dtype='object'))

In [10]:
df_a_tr.head()

                                              Tweets  label
0                بھگوڑی لیگ پر پورے کشمیروں کی لعنت       1
1      ہجڑے کو ہجڑا نا کہوں تو کیا کہوں دختر زرداری       1
2   گشتی کے بچے، دروازے کی چابیاں تیرے باپ باجوہ ...      1
3        کسی گشتی کے پتر ہیں یہ حرامی کافر مادرچود        1
4  عبدالقدیر خان نے کہا کارگل جنگ میں ہم دہلی صرف...      0

In [9]:
df_a_test = pd.read_csv(DIR_A + 'test.csv')
df_a_test.shape, df_a_test.columns

((700, 2), Index(['Tweets', 'label'], dtype='object'))

In [11]:
df_a = pd.concat([df_a_tr, df_a_test])

In [14]:
df_a.reset_index(inplace=True)

In [15]:
df_a.index

RangeIndex(start=0, stop=3500, step=1)

In [21]:
!ls data

abusive_tweets_Urdu

In [18]:
!mkdir data

In [19]:
!mkdir data/abusive_tweets_Urdu

In [27]:
df_a.shape

(3500, 2)

In [58]:
df_a.head()

   id                                              tweet  target
0   0                بھگوڑی لیگ پر پورے کشمیروں کی لعنت        1
1   1      ہجڑے کو ہجڑا نا کہوں تو کیا کہوں دختر زرداری        1
2   2   گشتی کے بچے، دروازے کی چابیاں تیرے باپ باجوہ ...       1
3   3        کسی گشتی کے پتر ہیں یہ حرامی کافر مادرچود         1
4   4  عبدالقدیر خان نے کہا کارگل جنگ میں ہم دہلی صرف...       0

In [57]:
df_a.tail()

        id                                              tweet  target
3495  3495            گشتین صاحب کشمیر کی بات کر لو مادرچود         1
3496  3496  آپکے لاکھوں فوجی کشمیر میں لوگوں کو مارے وہ صح...       0
3497  3497               ایسے نہیں ایسے سن زراہ غور سے حرامی        1
3498  3498  قسم لے لیں ان کنجروں کو جو مرضی کہیں میں ناراض...       1
3499  3499   شرم آنی چاہیے ان حرامیوں کو یہ بکواس کرنے سے ...       1

In [29]:
df_a.columns = ['tweet', 'label']

In [30]:
df_a['id'] = df_a.index

In [33]:
df_a = df_a[['id', 'tweet', '']]

In [54]:
df_a['target'] = df_a['label']

In [55]:
df_a.drop(columns=['label'], axis=1, inplace=True)

In [56]:
df_a.isnull().sum()

id        0
tweet     0
target    0
dtype: int64

In [59]:
df_a.to_csv('./data/abusive_tweets_Urdu/dataset_all.csv', index=False)

### Abusive Train

In [60]:
df_a_train, df_a_test = train_test_split(df_a, test_size=1100)

In [61]:
df_a_train.shape, df_a_test.shape

((2400, 3), (1100, 3))

In [63]:
df_a_train['target'].value_countsnts()

0    1213
1    1187
Name: target, dtype: int64

In [65]:
df_a_test['target'].value_counts()

1    563
0    537
Name: target, dtype: int64

In [66]:
df_a_train.to_csv('./data/abusive_tweets_Urdu/train.csv', index=False)

In [101]:
df_a_train.head()

        id                                              tweet  target
1024  1024             قوم کے لیے پرانے خاندانی نمک حرام ہیں        1
1919  1919  اور پھر بھی ان خنزیروں کو بغض نواز میں سپورٹ ک...       0
102    102             پاکستان کے قبضے میں اسرائیلی پائلٹ ہے۔       0
679    679        اور نواز شریف کا نواسہ مستقبل کا وزیر اعظم        0
2093  2093                صرف ٹویٹر پہ بکواس کرنا ہی آسان ہے        0

In [111]:
df_a_train = df_a_train.copy()

In [13]:
df_a_train = pd.read_csv('./data/abusive_tweets_Urdu/train.csv')
df_a_train.shape, df_a_train.columns

((2400, 3), Index(['id', 'tweet', 'target'], dtype='object'))

In [14]:
df_a_train.shape, df_a_train['id'].unique().shape

((2400, 3), (2400,))

### Abusive Test

In [77]:
split = ['private']*df_a_test.shape[0]

In [78]:
i = 0 
while i < 400:
    split[i*2] = 'public'
    i += 1

In [81]:
split[-30:]

['private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private',
 'private']

In [83]:
df_a_test = df_a_test.copy()

In [84]:
df_a_test['split'] = split

In [86]:
df_a_test.tail()

        id                                              tweet  target    split
2928  2928  بیغیرتوں لعنت ہے تم پر تم جزبہ خیر سگالی پالو ...       1  private
1928  1928           تیری گانڈ مارے بندہ اور رونے بھی نہ دے         1  private
1931  1931  بیرون ملک رہنے والے غیر ملکیوں کے دلے پاکستان ...       0  private
1798  1798  یہ گشتی عورت جس طرح بھونک رہی ہے کتیا کی طرح ک...       1  private
3391  3391  لوئر دیر تھانہ منڈہ کے حدود گوسم فائرنگ پانچ ا...       0  private

In [87]:
df_a_test['split'].value_counts()

private    700
public     400
Name: split, dtype: int64

In [96]:
df_a_test.columns

Index(['id', 'tweet', 'target', 'split'], dtype='object')

In [97]:
df_a_test[['id', 'target', 'split']].to_csv('./data/abusive_tweets_Urdu/test_with_ans_and_split.csv', index=False)

In [98]:
df_a_test[['id', 'tweet']].to_csv('./data/abusive_tweets_Urdu/test.csv', index=False)

In [91]:
df_a_test_no_ans = pd.read_csv('./data/abusive_tweets_Urdu/test_no_ans.csv')

In [95]:
df_a_test_no_ans.head()

     id                                              tweet
0  3024   آپ نے ان سے سوال نہیں کیا کہ پرانے پاکستان می...
1  3235   گُل بُخاری گشتی تھی گشتی ھے گشتی رھے گی کر لو...
2  2227   منافرت پھیلانے ،ھڈی پر نظر رکھنےّ،مرمٹنے،زلیل...
3  2659  جس کسی نے دنیا کا سب سے بڑا بہن چود بیغرت دیکھ...
4  1311                                  ظالم بدمعاش ریاست

In [15]:
df_a_test = pd.read_csv('./data/abusive_tweets_Urdu/test_with_ans_and_split.csv')
df_test_tweets = pd.read_csv('./data/abusive_tweets_Urdu/test_no_ans.csv')

In [16]:
df_a_test.columns, df_test_tweets.columns

(Index(['id', 'target', 'split'], dtype='object'),
 Index(['id', 'tweet'], dtype='object'))

In [18]:
df_a_test = pd.concat([df_a_test, df_test_tweets[['tweet']]], axis=1)

In [20]:
df_a_test.shape, df_a_test.columns

((1100, 4), Index(['id', 'target', 'split', 'tweet'], dtype='object'))

In [21]:
df_a_test.head()

     id  target    split                                              tweet
0  3024       0   public   آپ نے ان سے سوال نہیں کیا کہ پرانے پاکستان می...
1  3235       1  private   گُل بُخاری گشتی تھی گشتی ھے گشتی رھے گی کر لو...
2  2227       0   public   منافرت پھیلانے ،ھڈی پر نظر رکھنےّ،مرمٹنے،زلیل...
3  2659       1  private  جس کسی نے دنیا کا سب سے بڑا بہن چود بیغرت دیکھ...
4  1311       1   public                                  ظالم بدمعاش ریاست

In [24]:
df_a_test.shape, df_a_test['id'].unique().shape

((1100, 4), (1100,))

In [1]:
%who

Interactive namespace is empty.

In [3]:
df_test = pd.read_csv('./data/abusive_tweets_Urdu/test_with_ans_and_split.csv')
df_test.shape, df_test.columns

((1100, 3), Index(['id', 'target', 'split'], dtype='object'))

In [4]:
df_test[df_test['split'] == 'public']['target'].value_counts()/df_test[df_test['split'] == 'public'].shape[0]

0    0.515
1    0.485
Name: target, dtype: float64

In [5]:
df_test[df_test['split'] == 'private']['target'].value_counts()/df_test[df_test['split'] == 'private'].shape[0]

1    0.527143
0    0.472857
Name: target, dtype: float64

In [6]:
!pwd

/Users/alisa/workspace/kaggle/abusive_and_threat_urdu_SoC

## Baseline Model

In [22]:
import nltk

### N-grams extraction

In [23]:
def extract_ngrams(data, num=1):
    n_grams = nltk.ngrams(nltk.word_tokenize(data), num)
    return [ ' '.join(grams) for grams in n_grams]

In [25]:
df_a_train['unigrams'] = df_a_train['tweet'].apply(extract_ngrams)
df_a_train['bigrams'] = df_a_train['tweet'].apply(lambda x: extract_ngrams(x, 2))

df_a_test['unigrams'] = df_a_test['tweet'].apply(extract_ngrams)
df_a_test['bigrams'] = df_a_test['tweet'].apply(lambda x: extract_ngrams(x, 2))

### Vocabulary Set-Up

In [26]:
from collections import Counter

In [27]:
c = Counter()

In [28]:
for idx, row in df_a_train.iterrows(): 
    c.update(row['unigrams'])

In [29]:
df_vocab = pd.DataFrame.from_dict(c, orient='index', columns=['count'])

In [30]:
df_vocab.reset_index(inplace=True)

In [31]:
df_vocab.columns = ['uniram', 'count']

In [32]:
df_vocab.head()

    uniram  count
0      قوم     51
1       کے   1100
2      لیے     38
3    پرانے      2
4  خاندانی      2

In [133]:
df_vocab.describe()

             count
count  6109.000000
mean      6.345719
std      34.379150
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max    1100.000000

In [249]:
df_vocab.shape

(6109, 2)

In [250]:
df_vocab['count'].sum()

38766

In [134]:
df_vocab[df_vocab['count'] >= 3].shape

(1775, 2)

In [33]:
vocab_uni = set(df_vocab[df_vocab['count'] >= 3]['uniram'])

len(vocab_uni)

In [34]:
bi = Counter()
for idx, row in df_a_train.iterrows(): 
    bi.update(row['bigrams'])
    
len(bi)

22758

In [36]:
vocab_bi_df = pd.DataFrame.from_dict(bi, orient='index', columns=['count'])
vocab_bi_df.reset_index(inplace=True)
vocab_bi_df.columns = ['bigram', 'count']

In [145]:
vocab_bi_df.head()

          bigram  count
0         قوم کے      3
1         کے لیے     35
2      لیے پرانے      1
3  پرانے خاندانی      1
4    خاندانی نمک      1

In [147]:
vocab_bi_df.describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .99])

              count
count  22758.000000
mean       1.597944
std        2.388648
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
80%        2.000000
85%        2.000000
90%        2.000000
95%        4.000000
99%       10.000000
max      125.000000

In [148]:
vocab_bi_df[vocab_bi_df['count'] >= 4].shape

(1212, 2)

In [37]:
vocab_bi = set(vocab_bi_df[vocab_bi_df['count'] >= 4]['bigram'])

In [38]:
len(vocab_bi)

1212

In [39]:
vocab = vocab_uni.union(vocab_bi)
len(vocab)

2987

### Feature Engineering

In [40]:
import numpy as np

In [41]:
vocab_uni_li = list(vocab_uni)
vocab_bi_li = list(vocab_bi)
FEATURES = vocab_uni_li+vocab_bi_li + ['OOV_uni', 'OOV_bi']

In [42]:
len(vocab_uni_li) + len(vocab_bi_li), len(FEATURES)

(2987, 2989)

In [43]:
df_a_train.shape

(2400, 5)

In [44]:
stuffing = np.zeros((2400, 2989))

In [45]:
stuffing_df = pd.DataFrame(stuffing, columns = vocab_uni_li+vocab_bi_li + ['OOV_uni', 'OOV_bi'])

In [182]:
stuffing_df.shape

(2400, 2989)

In [183]:
stuffing_df.head()

,مجرے,مگر,جانی,طمانچہ,مارنا,ظالم,ڈیفنڈ,دیتے,دکھایا,تعالی,...,نہیں تو,کا جواب,اور مریم,یہ کہ,جن کی,ابھی بھی,تو پھر,کرنے کے,OOV_uni,OOV_bi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [195]:
df_a_train.shape

(2400, 5)

In [46]:
df_a_train.reset_index(inplace=True)

In [204]:
df_a_train.head()

,id,tweet,target,unigrams,bigrams
0,1024,قوم کے لیے پرانے خاندانی نمک حرام ہیں,1,"[قوم, کے, لیے, پرانے, خاندانی, نمک, حرام, ہیں]","[قوم کے, کے لیے, لیے پرانے, پرانے خاندانی, خان..."
1,1919,اور پھر بھی ان خنزیروں کو بغض نواز میں سپورٹ ک...,0,"[اور, پھر, بھی, ان, خنزیروں, کو, بغض, نواز, می...","[اور پھر, پھر بھی, بھی ان, ان خنزیروں, خنزیروں..."
2,102,پاکستان کے قبضے میں اسرائیلی پائلٹ ہے۔,0,"[پاکستان, کے, قبضے, میں, اسرائیلی, پائلٹ, ہے۔]","[پاکستان کے, کے قبضے, قبضے میں, میں اسرائیلی, ..."
3,679,اور نواز شریف کا نواسہ مستقبل کا وزیر اعظم,0,"[اور, نواز, شریف, کا, نواسہ, مستقبل, کا, وزیر,...","[اور نواز, نواز شریف, شریف کا, کا نواسہ, نواسہ..."
4,2093,صرف ٹویٹر پہ بکواس کرنا ہی آسان ہے,0,"[صرف, ٹویٹر, پہ, بکواس, کرنا, ہی, آسان, ہے]","[صرف ٹویٹر, ٹویٹر پہ, پہ بکواس, بکواس کرنا, کر..."

In [47]:
df_a_train.drop(columns=['index'], axis=1, inplace=True)

In [48]:
train_df = pd.concat([df_a_train, stuffing_df], axis=1)
train_df.shape

(2400, 2994)

In [242]:
train_df[train_df.columns[-10:]]

,نہیں تو,کا جواب,اور مریم,یہ کہ,جن کی,ابھی بھی,تو پھر,کرنے کے,OOV_uni,OOV_bi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
def count_ngram_feats(df):    
    global vocab
    
    total_oov_uni = 0
    total_oov_bi = 0
    
    for idx, row in df.iterrows(): 
        # unigram part 
        ct = Counter()
        ct.update(row['unigrams'])
        oov_ct = 0 
        
        for k in ct.elements(): 
            if k in vocab:
                df[k].iloc[idx] = ct.get(k)
            else:     
                oov_ct += ct.get(k)
        df['OOV_uni'].iloc[idx] = oov_ct
        total_oov_uni += oov_ct

        # bigram part 
        ct = Counter()
        ct.update(row['bigrams'])
        oov_ct = 0 
        
        for k in ct.elements(): 
            if k in vocab:
                df[k].iloc[idx] = ct.get(k)
            else:     
                oov_ct += ct.get(k)
        df['OOV_bi'].iloc[idx] = oov_ct 
        total_oov_bi += oov_ct

    print (total_oov_uni, total_oov_bi)

In [50]:
count_ngram_feats(train_df)

/Users/alisa/.pyenv/versions/anaconda3-2019.10/envs/cs224n/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

5409 26989

In [245]:
train_df[list(vocab)[:3]].sum()

مجرے        3.0
کی گندی     8.0
مگر        18.0
dtype: float64

In [51]:
train_df[['OOV_uni', 'OOV_bi']].sum()

OOV_uni     5409.0
OOV_bi     26989.0
dtype: float64

In [254]:
df_a_test.shape

(1100, 6)

In [52]:
df_a_test.reset_index(inplace=True)
df_a_test.drop(columns=['index'], axis=1, inplace=True)

In [53]:
stuffing = np.zeros((1100, 2989))
stuffing_df = pd.DataFrame(stuffing, columns = vocab_uni_li+vocab_bi_li + ['OOV_uni', 'OOV_bi'])

test_df = pd.concat([df_a_test, stuffing_df], axis=1)
test_df.shape

(1100, 2995)

In [54]:
count_ngram_feats(test_df)

3274 13603

### Model

In [55]:
from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import GradientBoostingClassifier 
#from xgboost import XGBClassifier

from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, f1_score, roc_auc_score, accuracy_score

#from sklearn.model_selection import GridSearchCV

In [56]:
logreg = LogisticRegression(max_iter=1000)

In [57]:
logreg.fit(train_df[FEATURES], train_df['target'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
y = train_df['target']
y_pred = logreg.predict(train_df[FEATURES])
y_pred_score = logreg.predict_proba(train_df[FEATURES])

In [60]:
f1_score(y, y_pred), roc_auc_score(y, y_pred_score[:, 1]), accuracy_score(y, y_pred)

(0.9604331528529779, 0.9930408499330823, 0.9604166666666667)

In [282]:
f1_score(y, y_pred), roc_auc_score(y, y_pred_score[:, 1]), accuracy_score(y, y_pred)

(0.9604331528529779, 0.993038766355218, 0.9604166666666667)

In [61]:
y_pred_test = logreg.predict(test_df[FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[FEATURES])
y_test = test_df['target']

f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.767200754005655, 0.8727603189881288, 0.7754545454545455)

In [283]:
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.767200754005655, 0.8727570113551042, 0.7754545454545455)

In [62]:
# Public
y_pred_test = logreg.predict(test_df[test_df['split'] == 'public'][FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[test_df['split'] == 'public'][FEATURES])
y_test = test_df[test_df['split'] == 'public']['target']
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.729281767955801, 0.8528550695626064, 0.755)

In [63]:
# Private
y_pred_test = logreg.predict(test_df[test_df['split'] == 'private'][FEATURES])
y_pred_score_test = logreg.predict_proba(test_df[test_df['split'] == 'private'][FEATURES])
y_test = test_df[test_df['split'] == 'private']['target']
f1_score(y_test, y_pred_test), roc_auc_score(y_test, y_pred_score_test[:, 1]), accuracy_score(y_test, y_pred_test)

(0.7868383404864092, 0.8829694037121639, 0.7871428571428571)

In [285]:
df_a_test['target_pred'] = y_pred_test
df_a_test['target_pred_score'] = y_pred_score_test[:, 1]

In [286]:
df_a_test.head()

,id,tweet,target,split,unigrams,bigrams,target_pred,target_pred_score
0,3024,آپ نے ان سے سوال نہیں کیا کہ پرانے پاکستان می...,0,public,"[آپ, نے, ان, سے, سوال, نہیں, کیا, کہ, پرانے, پ...","[آپ نے, نے ان, ان سے, سے سوال, سوال نہیں, نہیں...",0,0.077798
1,3235,گُل بُخاری گشتی تھی گشتی ھے گشتی رھے گی کر لو...,1,private,"[گُل, بُخاری, گشتی, تھی, گشتی, ھے, گشتی, رھے, ...","[گُل بُخاری, بُخاری گشتی, گشتی تھی, تھی گشتی, ...",1,0.982781
2,2227,منافرت پھیلانے ،ھڈی پر نظر رکھنےّ،مرمٹنے،زلیل...,0,public,"[منافرت, پھیلانے, ،ھڈی, پر, نظر, رکھنےّ،مرمٹنے...","[منافرت پھیلانے, پھیلانے ،ھڈی, ،ھڈی پر, پر نظر...",0,0.181221
3,2659,جس کسی نے دنیا کا سب سے بڑا بہن چود بیغرت دیکھ...,1,private,"[جس, کسی, نے, دنیا, کا, سب, سے, بڑا, بہن, چود,...","[جس کسی, کسی نے, نے دنیا, دنیا کا, کا سب, سب س...",1,0.999664
4,1311,ظالم بدمعاش ریاست,1,public,"[ظالم, بدمعاش, ریاست]","[ظالم بدمعاش, بدمعاش ریاست]",0,0.446524

In [290]:
submission_template = pd.DataFrame(df_a_test['id'])

In [291]:
submission_template.head()

     id
0  3024
1  3235
2  2227
3  2659
4  1311

In [292]:
submission_template['target'] = 1

In [294]:
submission_template['score'] = 0.0

In [295]:
submission_template.head()

     id  target  score
0  3024       1    0.0
1  3235       1    0.0
2  2227       1    0.0
3  2659       1    0.0
4  1311       1    0.0

In [297]:
!ls data/abusive_tweets_Urdu/

dataset_all.csv             test_with_ans_and_split.csv
test.csv                    train.csv
test_no_ans.csv

In [298]:
submission_template.to_csv('data/abusive_tweets_Urdu/submission_template.csv', index=False)

In [299]:
df_a_test.columns

Index(['id', 'tweet', 'target', 'split', 'unigrams', 'bigrams', 'target_pred',
       'target_pred_score'],
      dtype='object')

In [302]:
submission_probnyi =  pd.DataFrame(df_a_test[['id', 'target_pred', 'target_pred_score']])

In [305]:
submission_probnyi.head()

     id  target     score
0  3024       0  0.077798
1  3235       1  0.982781
2  2227       0  0.181221
3  2659       1  0.999664
4  1311       0  0.446524

In [304]:
submission_probnyi.columns = ['id', 'target', 'score']

In [306]:
submission_probnyi.to_csv('data/abusive_tweets_Urdu/submission_probnyi.csv', index=False)

## Sanity Check

In [3]:
!ls data/abusive_tweets_Urdu/urdu_abusive_task_datasets_and_submission

submission_probnyi.csv      test_with_ans_and_split.csv
submission_template.csv     train.csv
test.csv

In [5]:
# папка urdu_abusive_task_datasets_and_submission -это распаковка высланных данных 
train = pd.read_csv('data/abusive_tweets_Urdu/urdu_abusive_task_datasets_and_submission/train.csv')
train.shape, train.columns

((2400, 3), Index(['id', 'tweet', 'target'], dtype='object'))

In [9]:
train.shape, train['id'].unique().shape

((2400, 3), (2400,))

In [6]:
# Pandas DataFrame прекрасно понимает колонки и кладет все на свои места 
train.head()

     id                                              tweet  target
0  1024             قوم کے لیے پرانے خاندانی نمک حرام ہیں        1
1  1919  اور پھر بھی ان خنزیروں کو بغض نواز میں سپورٹ ک...       0
2   102             پاکستان کے قبضے میں اسرائیلی پائلٹ ہے۔       0
3   679        اور نواز شریف کا نواسہ مستقبل کا وزیر اعظم        0
4  2093                صرف ٹویٹر پہ بکواس کرنا ہی آسان ہے        0

In [7]:
# для сравнения - просто из-под Unix/Mac посмотреть нельзя, будет выглядеть как будто tweet & target перепутаны 
!head data/abusive_tweets_Urdu/urdu_abusive_task_datasets_and_submission/train.csv

id,tweet,target
1024,قوم کے لیے پرانے خاندانی نمک حرام ہیں ,1
1919,اور پھر بھی ان خنزیروں کو بغض نواز میں سپورٹ کرتا رہا اس کو ان سے…  ,0
102,پاکستان کے قبضے میں اسرائیلی پائلٹ ہے۔,0
679,اور نواز شریف کا نواسہ مستقبل کا وزیر اعظم ,0
2093,صرف ٹویٹر پہ بکواس کرنا ہی آسان ہے ,0
1028,پاکستان کشمیوں کو مشکل وقت میں تنہا نہیں چھوڑے گا، جبکہ سندھیوں، بلوچوں، پشتونوں کو زندہ نہیں چھوڑے گا ,0
2097,ایسے مادرچود یوتھئے ہیں کہ کشمیر ہاتھہ سے نکل رہا ہے لیکن یوتھئے ابھی بھی کشمیر کی ثالثی پر نیازی کی واہ واہ کررہے ,1
2297, نکل بھوسڑی کے مادرچود گانڈو  ,1
2572,کشمیر بیچنے والے کتو  ,1

In [10]:
test = pd.read_csv('data/abusive_tweets_Urdu/urdu_abusive_task_datasets_and_submission/test.csv')
test.shape, test['id'].unique().shape

((1100, 2), (1100,))